<div class="container-fluid">
    <div class="row" *ngIf="!selectedLayout">
        <div class="col-xs-12">
            <div style="width: 400px; margin-left: auto; margin-right: auto">
                <h3>Dynamic Launcher</h3>
                <hr>
                <label class="control-label">Form Name:</label>
                <smart-lookup
                    #objectMasterLookup
                    smart-business-entity-name="Consultingwerk.SmartFramework.Repository.Object.ObjectMasterBusinessEntity"
                    smart-entity-table="eSmartObjectMaster"
                    [smart-grid-layout]="objectMasterLookupGridLayout"
                    smart-lookup-key-value-field="ObjectName"
                    smart-lookup-key-field="ObjectName"
                    smart-lookup-header="Lookup Object Master"
                    smart-lookup-dialog-options="width=700px;height=500px"
                    [(smartModel)]="selectedObjectMaster">
                </smart-lookup>
                <button style="margin-top: 15px" class="k-button k-primary" title="Launch Form" (click)="launchForm(objectMasterLookup.smartModel)" [disabled]="!selectedObjectMaster">
                    Launch
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin: 0px; padding: 0px">
            <smart-form #dynamicLauncherForm *ngIf="selectedLayout" [smart-form-layout]="selectedLayout"></smart-form>
        </div>
    </div>
</div>