/* You can add global styles to this file, and also import other style files */
@import 'biz-theme/all.css';

.smart-breadcrumb-navigation {
    background-color: inherit !important;
    margin-bottom: 0px !important;
    padding-left: 5px !important;
}

.smart-breadcrumb-label {
    color: #1c597c !important;
}

.ui-treetable {
    border-right: none !important;
}

.k-grid td {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-color:black;
}


smart-dialog * {
    font-size: 10pt !important;
}

.smart-toolbar-menu-item-header {
    font-size: 11pt !important;
}

.smart-toolbar-menu-item-label {
    font-size: 10pt !important;
}

.toolbar-wrapper {
    padding: 5px !important;
    background-color: darkgray;
    background-image: linear-gradient(#ededed,#e8e8e8) !important;
}

.smart-toolbar-button {
    border-radius: 0px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgba(0,0,0,.15) !important;
    background-image: linear-gradient(#ededed,#e8e8e8) !important;
}

.smart-toolbar-button:hover {
    background: #e8e8e8 !important;
}

.smart-toolbar-button.smart-toolbar-menu-item:hover {
    background-image: initial !important;
}

.smart-toolbar-dropdown-menu {
    border-radius: 0px !important;
    background-image: linear-gradient(#ededed,#e8e8e8) !important;
}

body {
    overflow-x: hidden;
}
