/* You can add global styles to this file, and also import other style files */
@import 'biz-theme/all.css';

.smart-breadcrumb-navigation {
    background-color: inherit !important;
    margin-bottom: 0px !important;
    padding-left: 5px !important;
}

.smart-breadcrumb-label {
    color: #1c597c !important;
}

.ui-treetable {
    border-right: none !important;
}

.k-grid td {
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-color:black;
}


