textarea {
   font-family: Courier;
   font-size: inherit;
   font-weight: bold !important;
   background-color: white !important;
}

#inputAblResult {
  width: 100%;
  height: 200px;
}

.dropzone {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.dropzone.file-is-over {
  border-color: red !important;
  border-style: dashed !important;
}
