textarea {
   font-family: Courier;
   font-size: inherit;
   font-weight: bold !important;
   background-color: white !important;
}

#inputAblResult {
  width: 100%;
  height: 200px;
}

::ng-deep abl-editor {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep abl-editor.file-is-over {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: red !important;
  border-style: dashed !important;
}
::ng-deep abl-editor.file-is-outside {
  border: none !important;
}

::ng-deep div.ngx-file-drop {
  width: 100% !important;
  height: 100% !important;
}

::ng-deep div.ngx-file-drop__drop-zone {
  width: 100% !important;
  height: 400px !important;
  border: none !important;
}
::ng-deep div.ngx-file-drop__drop-zone--over {
  background-color: transparent !important;
}
::ng-deep div.ngx-file-drop__content {
  width: 100% !important;
  height: 100% !important;
}
